/*General styling*/

body {
  background-color: #1A1A1A;
  font-family: 'Pontano Sans', sans-serif;
  color: white;
  background-image: url("images/pexels-photo-92083.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
  color: white;
  margin-top: 0;
  font-size: 4vw;
  font-family: 'Permanent Marker', cursive;
}

h1 {
  margin-bottom: 0;
}

p {
  text-align: center;
  font-size: 2vw;
  color: #FF7400;
  font-family: 'Permanent Marker', cursive;
}


/*Search bar*/

.search-form {
  text-align: center;
  padding-bottom: 28px;
}

input {
  width: 50%;
  height: 5vw;
  border-color: white;
  font-size: 5vw;
  background-color: transparent;
  text-align: left;
  border: 0;
  border-bottom: solid 3px;
  font-family: 'Pontano Sans', sans-serif;
}

input:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 5vw;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}

button:focus {
  outline: none;
  color: #FF7400;
}

::placeholder {
  color: gray;
  font-weight: lighter;
  opacity: 0.3;
}



/*Music player*/
.player {
  text-align: center;
  position: fixed;
  bottom: -5px;
}

#music-player {
  width: 100vw;
}



/*Results layout*/

#results {
  margin: 0 22vw 5vw 22vw;
}

.song-wrapper {
  display: flex;
  flex-flow: row;
  margin-bottom: 25px;
}


.text-wrapper {
  margin-left: 1.5vw;
}

.user-avatar {
  border-radius: 2%;
  align-items: center;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.username {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14pt;
}

.song-title {
  color: white;
  font-weight: lighter;
  font-style: italic;
  font-size: 12pt;
}

hr {
  color: white;
}



/*SoundCloud ribbon*/

.corner-ribbon {
  font-size: 14px;
  font-family: 'Pontano Sans', sans-serif;
  width: 200px;
  background: #FF7400;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: navy;
}
